%tr{ id: dom_id(task), class: [(task.completed? ? 'table-secondary' : nil )] }
  %td
    = bootstrap_form_for(task, url: task_path(task), data: { turbo_frame: dom_id(task) }) do |f|
      = f.check_box :completed, hide_label: true, onclick: 'this.form.requestSubmit()'
  %td= task.summary
  %td= task.due_date
  %td
    = link_to '削除', task, data: { turbo_confirm: '本当に削除しますか？', turbo_method: :delete }, class: 'btn btn-danger'