%li.list-group-item{ id: dom_id(task), class: [(task.completed? ? 'text-secondary' : nil ), 'd-flex', 'justify-content-between', 'align-items-center'] }
  = form_for(task, url: task_path(task), data: { turbo_frame: dom_id(task) }) do |f|
    .form-check
      = f.check_box :completed, onclick: 'this.form.requestSubmit()', class: %i[form-check-input]
      = f.label :completed, class: %i[form-check-label] do
        = task.summary
        = task.due_date
  = link_to '削除', task, data: { turbo_confirm: '本当に削除しますか？', turbo_method: :delete }, class: 'btn btn-danger'