= render 'modal' do
  .modal-header
    %h5.modal-title 新規タスク作成
    %button.btn-close{ data: { action: 'modal#close' } }
  .modal-body
    = bootstrap_form_for(@task, data: { action: 'modal#close' }) do |f|
      = f.text_field :summary, label: '内容'
      = f.date_field :due_date, label: '期限'
      = f.submit '作成', class: 'btn btn-primary'
